@tailwind base;

@tailwind components;

@tailwind utilities;

.before-fade-in {
  opacity: 0;
  transform: translateY(96px);
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* wix-madefor-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/wix-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* wix-madefor-text-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Wix Madefor Text';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/wix-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}